doctype html
html
  head
    title Gitlab Oauth
    style
      include ./partials/partials.css
      include ./index.css
  body
  .container
    h1 GitLab Oauth

    .button
      a(href=url) Login With GitLab
        img(src="https://about.gitlab.com/images/press/logo/png/gitlab-icon-rgb.png")

  include ./partials/footer.pug